.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.edit-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  color: navy;
  cursor: pointer;
}

.profile-card {
  height: 400px;
  width: 30%;
  max-width: 500px;
  box-shadow: 0 0 10px gray;
  position: relative;
  padding: 20px;
  border-radius: 10px;
}

.profile-heading {
  position: absolute;
  left: 20px;
  top: -37px;
  font-size: 50px;
  font-weight: 900;
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: gray 1px 0 25px;
}

.profile-card-content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  height: 100%;
  width: 100%;
}

.data-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.data-heading {
  color: gray;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.data-value {
  color: black;
}

.right-section {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gradient-button {
  background-image: linear-gradient(
    to right,
    #ed4264 0%,
    #ffedbc 51%,
    #ed4264 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out !important;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  position: absolute !important;
  right: 20px;
  bottom: -20px;
  width: 100px;
  height: 50px;
}

.gradient-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.right-content {
  position: relative;
  cursor: pointer;
}

.edit-profile-pic {
  position: absolute;
  z-index: 1000;
  right: 10px;
  bottom: 0;
  cursor: pointer;
  color: #5e5e5e;
}

.profile-pic {
  height: 100px !important;
  width: 100px !important;
  font-size: 30px !important;
}

@media screen and (max-width: 1400px) {
  .profile-card {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .data-heading {
    font-size: 17px;
  }
  .profile-card {
    width: 100%;
  }
}
