.booking-container {
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.booking-title {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.booking-description {
  font-size: 16px;
  color: gray;
  width: 40%;
}

.booking-table {
  width: 60%;
  margin-top: 30px;
}

.bottom-section {
  width: 60%;
  display: flex;
  justify-content: center;
}

.table-heading-cell {
  font-weight: 500 !important;
  font-size: 18px !important;
}

.day-name-cell {
  font-weight: 500 !important;
}

.loading-table-cell {
  width: 40%;
}

@media screen and (max-width: 800px) {
  .booking-table {
    width: 100%;
  }
  .booking-description {
    width: 90%;
  }
  .day-cell {
    width: 20%;
  }
  .loading-table-cell {
    width: 100%;
  }
}
